@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #2187c2;
  --color-secondary: #2d403d;
  --grey: #eee;
  --light-grey: #cee2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #dbffe3;
}

.container {
  text-align: center;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 10em;
  max-width: 400px;
  height: 250px;
  padding: 20px 20px;
  background-color: var(--color-primary);
  border-style: double;
  border: 1px #fff;
  box-shadow: 1px 1px 2px rgba(54, 35, 96, 0.628);
}

.title {
  font-size: 20px;
  color: var(--light-grey);
  margin: 3.5rem 0 1rem 0;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-word {
  font-size: 15px;
  font-weight: 200;
  color: #483770;
  height: 30px;
  width: 250px;
  padding: 0 15px;
  background-color: #eef8ff;
  border-radius: 5px;
  border: 1px solid #eef8ff;
}

.input-word:hover {
  box-shadow: 1px 1px 1px #1d2e31;
  transition: 0.3s;
}

button {
  width: 90px;
  height: 30px;
  border: none;
  background-color: var(--color-secondary);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.686);
}

button:hover {
  opacity: 80%;
  transition: 0.3s;
  cursor: pointer;
}

button:active {
  opacity: 60%;
}

.answer {
  margin-top: 1rem;
  font-size: 18px;
  color: white;
}

.about-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.about a {
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;
}

.about a:hover {
  color: var(--color-secondary);
  transition: 0.3s;
}

.about-group img {
  width: 20px;
  opacity: 60%;
  margin-left: 10px;
}

.about-group img:hover {
  opacity: 30%;
  transition: 0.3s;
}
