@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-secondary: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.about a {
  color: var(--light-green);
  text-decoration: underline;
  cursor: pointer;
}

.about a:hover {
  color: var(--green);
  transition: 0.3s;
}

.about-group img {
  width: 20px;
  opacity: 60%;
  margin-left: 10px;
}

.about-group img:hover {
  opacity: 30%;
  transition: 0.3s;
}
